/*
 *  global
 * */
body{
    margin: auto;
    border: 2px solid black;
    height: 100%;
    width: 99%;
    display: inline-block !important;
}
header{
    padding: 1px;
}
header .drag_bar{
    overflow: hidden;
    height:30px;
    border-color: navy;
    border-width: 1px;
    background-color: silver;
    -webkit-app-region: drag;
}
ul li{
    list-style: none;
}

input[type="file"]{
    width: 80px !important;
}
label{
    display: inline-block !important;
}

/* loginWindow */
.error{
    color: red;
}


/* mainWindow */
.list_panel{
    height: 540px;
    overflow: auto;
}
.offline{
    color: #aaa;
}
.toggle_list{
    cursor: pointer;
}
.user{
    cursor: pointer;
}

.portrait img{
    width: 24px;
    height: 24px;
    border-radius: 5px;
    /* 背景图生效必须是bfc 单独容器 block,并且必须有background-position */
    /* 背景图缩小放大 还得用size 来缩放  */
}
.unread_messages_count{
    color: red;
    font-family: bold;
    font-size: 14px;
    margin-right:20px;
    text-align: center;
}
.msg_tips{
    border-radius: 10px;
    background-color: #ccc;
    width: 24px;
    height: 24px;
}
/* conferenceWindow */
.chat_panel{
    width: 70%;
    height: 80%;
    border-width: 1px;
    border-color: silver;
    border-style: dashed;
}

.action_panel{
    height: 30px;
    width: 99%;
}

.editor{
    overflow-y: auto;
    width: 96%;
    height: 100px;
}

.conversation{
    width:100%;
    height: 200px;
    overflow-y: auto;
    padding-bottom: 32px;
}

.conference_members{
    overflow: hidden;
    height: 100%;
}
/*  会话聊天信息上面的时间条 */
.local_time{
    text-align: center;
    width: 100%;
    font-size:10px;
    color: silver;
}

.content_yellow {
    background-color: yellow;
    margin-right: 25px;
}

.content_silver{
    background-color: silver;
    margin-left: 25px;
}


/* css3 聊天气泡 */

.wraper_left, .wraper_right {
	color: #000;
	position: relative;
	width: 100%;
}
.bubble {
	position: relative;
	display: inline-block;
	min-width: 30px;
	max-width: 300px;
	word-break: break-all;
	word-wrap: break-word;
	min-height: 22px;
	background: #d2d2d2;
	border-radius: 15px;
	margin-bottom: 20px;
	padding: 6px 8px;
	-webkit-box-shadow: 0px 1px 2px #000, inset 0px 4px 4px rgba(0,0,0,.3), inset 0px -4px 4px rgba(255,255,255,.5);
}
.bubble:before {
	content: '';
	display: block;
	font-size: 0;
	width: 0;
	height: 0;
	border-width: 6px;
	position: absolute;
	bottom: -12px;
	left: 12px; 
	border-color: #4a4c50 transparent transparent #4a4c50;
	border-style: solid dashed dashed solid;
}
.bubble:after {
	content: '';
	display: block;
	font-size: 0;
	position: absolute;
	bottom: -9px;
	left: 13px;
	width: 0;
	height: 0;
	border-width: 5px;
	border-color: #e8e8e8 transparent transparent #e8e8e8;
	border-style: solid dashed dashed solid;
}
.bubble .content {
	position: relative;
	padding: 0 4px;
}
.bubble .content:before {
	content: '';
	position: absolute;
	margin: auto;
	top: -5px;
	left: 0;
	width: 100%;
	height: 12px;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.2) 90%, rgba(255,255,255,0) 90% );
	border-radius: 10px
}



/**
 * 	绿色气泡
 */
.wraper_right .bubble {
    float: right;
	background: #b7da2b;
}
.wraper_right .bubble:before {
	left: auto;
	right: 12px;
	border-color: #4a4c50 #4a4c50 transparent transparent;
	border-style: solid solid dashed dashed;
}
.wraper_right .bubble:after {
	left: auto;
	right: 13px;
	border-color: #daec93 #daec93 transparent transparent;
	border-style: solid solid dashed dashed;
}

/* 绿色气泡昵称 */
.wraper_right .nick_name, .wraper_right .portrait{
    margin-right: 20px;
    margin-top: 32px;
    float: right;
}
.wraper_left .nick_name, .wraper_left .portrait{
    margin-left: 20px;
    margin-top: 32px;
}

/**
 * 	橙色气泡
 */
.wraper_left .bubble {
	background: #f6d031;
}
.wraper_left .bubble:after {
	border-color: #fae796 transparent transparent #fae796;
	border-style: solid dashed dashed solid;
}


/* create_conference_tpl */

.memebers_panel{
    width: 100%;
    border-color: #aaaaaa;
}

.select_members, .selected_members{
    overflow: auto;
}
.select_members{
    float: left;
    height: 240px;
    border: 1px solid silver;
}
.selected_members{
    margin-top: 20px;
    margin-left: 20px;
    height: 240px;
    border: 1px solid blue;

}

.selected_members ul li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.tree_view{
    width: 200px;
    border: 1px solid silver;
    height: 300px;
}
.checkbox_members{
    overflow: hidden;
    border-width: 1px;
    border-color: #cccccc;
    margin-left:5px;
}

.member{
    cursor: pointer;
}


/* 文件上传管理窗口 */
.file_transport_info{
    clear: both;
}
.file_transport_info span{
    float: left;
    margin-left: 20px;
}
.file_transport_info span img{
    height: 24px;
    width: 24px;
}
.file_transport_info span.action img{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.process_bar{
    height: 10px;
    border: 1px solid blue;
}
.process_loading{
    height: 100%;
    width: 0%;
    background-color: blue;
}

.left_time{
    margin-left: 40px;
}
